@use "../1-abstracts" as *;

input {
  border-radius: $border-radius;
  background-color: $secondary-color;
  border: none;
  padding: to-rem(20px) to-rem(15px);
  font-family: Poppins, sans-serif;
  font-size: to-rem(17px);
  font-weight: 500;
  color: $text-color;

  &::placeholder {
    color: $input-placeholder;
  }

  &:focus {
    outline: none;
  }
}
