// colors
$primary-color: #706aff;
$secondary-color: #f6f7fb;
$text-color: #212054;
$grey-500: #adb5bd;
$danger-color: #f74747;
$bg-dark-color: #1b2b48;
$input-placeholder: #b5b1cc;

// dimensions
$max-container-width: 1300px;
$container-padding: 15px;

$border-radius: 5px;
