@use "../../1-abstracts" as *;

.chat-grid {
  min-height: 100%;
  display: grid;
  grid-template-rows: to-rem(55.5px) calc(100vh - (to-rem(55.5px) + to-rem(65.5px))) to-rem(65.5px);
  grid-template-areas:
    "header-members"
    "messages"
    "footer-submit";
}
