@use "../../1-abstracts" as *;

.footer__submit {
  grid-area: footer-submit;
  position: sticky;
  bottom: 0;
}

.submit__wrapper {
  display: flex;
  padding-right: to-rem(10px);
  justify-content: space-between;
  background-color: $secondary-color;

  input {
    flex-grow: 1;
  }

  button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
  }
}
