@use "../../1-abstracts" as *;

.header__members {
  padding-block: to-rem(10px);
  border-bottom: 0.5px solid $grey-500;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;

  .btn-toolbar {
    display: flex;
    justify-content: space-between;
  }

  .show-members-btn,
  .disconnect-btn {
    color: white;
    border-radius: $border-radius;
    padding: to-rem(5px) to-rem(10px);
    font-size: to-rem(15px);
    border: none;
    cursor: pointer;
  }

  .show-members-btn {
    display: flex;
    align-items: center;
    gap: to-rem(10px);
    background-color: $primary-color;

    span {
      background-color: white;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      line-height: 25px;
      font-size: to-rem(16px);
      color: $primary-color;
    }
  }

  .disconnect-btn {
    background-color: $danger-color;
  }
}
