@use "../../1-abstracts" as *;

.messages {
  padding-block: to-rem(15px);
}

.messages__wrapper {
  display: flex;
  flex-direction: column;
  gap: to-rem(25px);
}

.message {
  $message: &;

  &__info {
    display: flex;
    align-items: center;
    gap: 15px;
    letter-spacing: 1px;

    #{$message}__author {
      font-weight: 600;
      font-size: to-rem(15px);
    }

    #{$message}__date {
      font-size: to-rem(13px);
      color: $grey-500;
      font-weight: 300;
    }
  }

  &__body {
    margin-top: to-rem(7px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    #{$message}__text {
      font-family: "Lato", sans-serif;
      font-size: to-rem(16px);
      display: inline-block;
      background-color: $secondary-color;
      padding: to-rem(12px);
      border-radius: $border-radius;
    }
  }

  &--your:not(&--join, &--disconnected) {
    #{$message}__info {
      justify-content: flex-end;

      #{$message}__author {
        order: 2;
      }

      #{$message}__date {
        order: 1;
      }
    }

    #{$message}__body {
      align-items: flex-end;

      #{$message}__text {
        color: white;
        background-color: $primary-color;
      }
    }
  }

  &--join,
  &--disconnect {
    #{$message}__info {
      display: none;
    }
    #{$message}__body {
      align-items: flex-start;
      #{$message}__text {
        font-weight: 600;
        color: $grey-500;
        background-color: transparent;
      }
    }
  }

  &--disconnect #{$message}__body #{$message}__text {
    color: $danger-color;
  }
}
